footer {
  background: #353854;
  .footer-links {
    @include flex(space-between);
    width: $pageWidth;
    margin: 0 auto;
    padding: 50px 40px;
    border-bottom: 1px solid #565b87;
    @include responsive(tab-port) {
      flex-direction: column;
    }
    @include responsive(tab-land) {
      width: 85%;
      padding: 50px 0;
    }
    .footer-logo-p {
      font-size: 25px;
      font-weight: 700;
      .fun {
        color: #fc6a42;
      }
      .weat {
        color: #648cff;
      }
    }
    .footer-nav {
      @include responsive(tab-port) {
        margin: 40px auto;
      }
      .footer-nav-ul {
        @include flex(space-between);
        @include responsive(tab-port) {
          flex-direction: column;
        }
        .footer-nav-li {
          color: $greyText;
          margin: 0 20px;
          font-size: 14px;
          @include responsive(tab-port) {
            margin: 15px 0;
          }
          &:hover {
            color: #fff;
          }
        }
      }
    }
    .footer-social {
      .footer-social-ul {
        @include flex(space-between);
        .footer-social-li {
          color: $greyText;
          margin: 0 20px;
          font-size: 23px;
          @include responsive(tab-land) {
            color: rgb(224, 224, 224);
          }
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  .coded-by {
    width: $pageWidth;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
    @include responsive(tab-land) {
      width: 85%;
    }
    .coded-by-p {
      font-size: 18px;
      color: #565b87;
    }
  }
}
