header {
  background-image: url(../assets/header-bg.jpg);
  background-size: 100% 100%;
  .top-bar {
    @include flex(space-between);
    padding-top: 15px;
    margin: 0 auto;
    width: $pageWidth;
    position: relative;
    @include responsive(tab-land) {
      width: 85%;
    }
    @include responsive(tab-port) {
      flex-direction: column;
    }
    .header-logo {
      text-transform: uppercase;
      width: 15%;
      color: #ffffff;
      @include responsive(tab-port) {
        width: 100%;
      }
      h3 {
        font-size: 16px;
      }
    }
    .hamburger {
      position: absolute;
      top: 15px;
      right: 10%;
      display: none;
      @include responsive(tab-port) {
        display: block;
      }
      .line {
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: #fff;
      }
      .line-2 {
        margin: 5px 0;
      }
    }
    .links-top {
      @include flex(space-between);
      width: 85%;
      @include responsive(tab-port) {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;
        border-top: 1px solid #cacaca;
        display: none;
      }
      nav {
        width: 100%;
        @include responsive(tab-port) {
          margin-top: 10px;
          padding: 0;
        }
        ul {
          @include flex(space-evenly);
          padding: 0 20px;
          @include responsive(tab-port) {
            flex-direction: column;
          }
          li {
            padding: 0 20px;
            @include responsive(tab-port) {
              margin-top: 20px;
            }
            a {
              font-size: 14px;
              font-weight: 500;
              color: $aBeforeHover;
              @include responsive(tab-port) {
                color: #fff;
              }
              &:hover {
                color: #ffffff;
              }
            }
          }
        }
      }
      .social {
        @include responsive(tab-port) {
          width: 50%;
          margin-top: 30px;
        }
        ul {
          @include flex(space-between);
          @include responsive(tab-port) {
            justify-content: space-evenly;
          }
          li {
            padding: 0 20px;
            a {
              font-size: 23px;
              color: #fff;
              i {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .show {
      display: flex;
    }
  }
  .home-section {
    @include flex(center);
    width: $pageWidth;
    margin: 0 auto;
    padding: 70px 0;
    @include responsive(tab-land) {
      width: 85%;
    }
    @include responsive(phone) {
      flex-direction: column;
      width: 100%;
      padding-top: 40px;
    }
    .home-text {
      width: 50%;
      @include responsive(phone) {
        width: 100%;
        text-align: center;
        margin-bottom: 80px;
      }
      .home-h1 {
        color: #ffffff;
        font-size: 42px;
        font-weight: 700;
        line-height: 75px;
        @include responsive(tab-land) {
          font-size: 35px;
        }
        @include responsive(phone) {
          font-size: 31px;
          line-height: 44px;
          margin-bottom: 10px;
        }
      }
      .home-p {
        color: #ffffff;
        font-weight: 300;
        font-size: 14px;
      }
      .home-btns {
        margin-top: 50px;
        .btn {
          font-family: inherit;
          border: 0;
          padding: 12px 24px;
          font-size: 14px;
          font-weight: 700;
          color: #ffffff;
          border-radius: 3px;
          cursor: pointer;
        }
        .down-btn {
          background-color: #d9534f;
          margin-right: 20px;
        }
        .feat-btn {
          background-color: #337ab7;
        }
      }
    }
    .home-img {
      @include flex(center);
      width: 50%;
      img {
        width: 300px;
        @include responsive(tab-land) {
          width: 200px;
        }
        @include responsive(phone) {
          width: 300px;
        }
      }
    }
  }
}
