header {
  background-image: url(../assets/header-bg.jpg);
  background-size: 100% 100%;
  .top-bar {
    @include flex(space-between);
    padding-top: 15px;
    width: $pageWidth;
    margin: 0 auto;
    .header-logo {
      text-transform: uppercase;
      width: 15%;
      color: #ffffff;
      h3 {
        font-size: 16px;
      }
    }
    nav {
      width: 60%;
      padding: 0 30px 0 0;
      ul {
        @include flex(space-between);
        padding: 0 20px;
        li {
          padding: 0 5px;
          a {
            font-size: 14px;
            font-weight: 500;
            color: $aBeforeHover;
            &:hover {
              color: #ffffff;
            }
          }
        }
      }
    }
    .social {
      width: 15%;
      ul {
        @include flex(space-between) li {
          padding: 0 20px;
          a {
            font-size: 23px;
            color: $aBeforeHover;
            &:hover {
              color: #ffffff;
            }
          }
        }
      }
    }
  }
  .home-section {
    @include flex(center);
    width: $pageWidth;
    margin: 0 auto;
    padding: 70px 0;
    .home-text {
      width: 50%;
      .home-h1 {
        color: #ffffff;
        font-size: 42px;
        font-weight: 700;
        line-height: 75px;
      }
      .home-p {
        color: #ffffff;
        font-weight: 300;
        font-size: 14px;
      }
      .home-btns {
        margin-top: 50px;
        .btn {
          font-family: inherit;
          border: 0;
          padding: 12px 24px;
          font-size: 14px;
          font-weight: 700;
          color: #ffffff;
          border-radius: 3px;
          cursor: pointer;
        }
        .down-btn {
          background-color: #d9534f;
          margin-right: 20px;
        }
        .feat-btn {
          background-color: #337ab7;
        }
      }
    }
    .home-img {
      @include flex(center);
      width: 50%;
      img {
        width: 300px;
      }
    }
  }
}
