.review-section {
  width: $pageWidth;
  margin: 150px auto 100px auto;
  padding-top: 50px;
  @include responsive(tab-land) {
    width: 85%;
  }
  .reviews-h1 {
    text-transform: uppercase;
    color: $blueText;
    text-align: center;
    font-size: 30px;
  }
  .reviews-p {
    text-align: center;
    color: $greyText;
    margin-top: 10px;
    font-size: 15px;
  }
  .reviews-tabs {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    @include responsive(phone) {
      grid-template-columns: repeat(1, 100%);
    }
    .review {
      padding: 35px;
      position: relative;
      @include responsive(phone) {
        padding: 5px 0;
      }
      .quotes {
        color: $blueText;
        font-size: 100px;
      }
      .close-q {
        margin-left: 90%;
      }
      .review-text {
        font-size: 20px;
        color: $darkText;
        line-height: 29px;
      }
      .review-author {
        font-size: 15px;
        color: $greyText;
        margin-top: 20px;
      }
    }
  }
}
