.screenshots-title {
  text-transform: uppercase;
  color: $blueText;
  text-align: center;
  font-size: 30px;
}
.screenshots-p {
  text-align: center;
  color: $greyText;
  margin-top: 10px;
  font-size: 15px;
}
.screenshot-tab {
  @include flex(center);
  margin-top: 80px;
  .screen-phone-img {
    max-height: 450px;
    margin: 0 auto;
  }
  .screenshot-tab-descr {
    width: 50%;
    margin-left: auto;
    .screenshot-tab-title {
      color: $blueText;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px;
      margin: 50px 0;
    }
    .screenshot-tab-text {
      color: $darkText;
      font-size: 14px;
      line-height: 25px;
    }
  }
}
